# Agregar directorios/archivos que no es necesario o no se deban commitear
.venv*
# Archivos temporales de Python
__pycache__/
*.pyc
*.pyo
*.log

# Archivos temporales de notebooks
.ipynb_checkpoints/
*.ipynb_checkpoints

# Carpetas temporales
tmp/
temp/
.cache/
data/kaggle/*.zip

# Archivos del sistema
.DS_Store
